// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         darken(#269b57, 10%);

// width & height
$max-page-width:		1140px;
$page-width:			960px;
$width: 				30px;
$input-height:			65px;

// typography
$font-size-base:		22px;

// radius
$radius-default:		5px;